.education_container{
    display: flex;
    background-color: #111621;
    height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.education{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 400px;
}

.carrousel{
    width: 400px;
}

.certificate_container{
    margin-top: 100px;
    margin-left: 300px;
}

.certificate_container button{
    margin-top: 20px;
    background-color: #111621;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1000px){
    .education_container{
        height: 100%;
    }
    .education{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .certificate_container{
        margin-top: 100px;
        margin-left: 0px;
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 500px){
    .carrousel{
        width: 300px;
    }

}
    
