#SF_Skills{
    padding-top: 50px;
}

.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #f5f9fc;
}

.tech_description{
    width: 85%;
    height: fit-content;
    display: flex;
    padding: 5%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.tech_description_text{
    text-align: justify;
    width: fit-content;
}

.tech_description_text button{
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    background-color: #2596be;
}

.tech_description_text button:hover{
    background-color: #0a141d;
    color: #fff;
    cursor: pointer;
}

.tech_description_figure figure{
    margin-top: 125px;
    margin-left: 100px;
    position: absolute;
}

.tech_description_figure .circle{
    height: 650px;
    width: 650px;
    border-radius: 100%;
    background-color: #c5dbf8;
}

.tech_description h1{   
    font-size: 70px;
    color: #000000;
}

.tech_description p{
    color: #000000;
    width: 70%;
    font-size: 20px; 
    padding: 5px;
}
.technologies_container{
    width: 60%;
    height: 450px;
    background-color: #0a141d;
    border-radius: 20px;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 150px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); /*el primer valor es el desplazamiento horizontal, el segundo es el desplazamiento vertical y el tercero es el desenfoque*/
}

.technologies_container .boxes{
    display: flex;
    justify-content: center;
}

.technologies_container h1{
    margin: 50px 0 30px 0; /* top right bottom left */
    text-align: center;
}

.technologies_container p{
    margin: 50px 0 30px 0; /* top right bottom left */
    text-align: center;
}

.technologies_container .descriptionTechonologies{
    font-size: 20px;
    margin: 15px 10px 30px 10px; /* top right bottom left */
    padding: 15px;
}

.technologies_container .tech_box{
    width: 300px;
    height: 300px;
    margin-right: 25px;
    margin-left: 25px;
    background-color: #0a1a2a;
    border-radius: 5px;
    border-style: solid;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.technologies_container .tech_box figure{
    margin: 10px 0 0 10px;
}

.technologies_container .tech_box h2{
    margin: 40px 10px 0 10px;
    text-align: center;
    font-size: 25px;
}

.technologies_container .tech_box p{
    margin: 10px 10px 0 10px;
    text-align: center;
    font-size: 15px;
}

@media screen and (max-width:1300px){
    .tech_description{
        width: 90%;
    }

    .technologies_container{
        width: 90%;
        height: 1300px;
        margin-bottom: 100px;
    }

    .technologies_container .tech_box p{
       font-size: 20px;
    }

    #dataBases{
        width: 90%;
        height: fit-content;
    }

    .technologies_container .boxes{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .technologies_container .tech_box{
        width: 90%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:1500px){
    .tech_description{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tech_description_text{
        text-align: center;
        margin-bottom: 20px;
    }

    .tech_description_text p{
        width: 100%;
        padding: 5%;
    }
}

@media screen and (max-width:600px){

    .technologies_container{
        width: 90%;
        height: fit-content;
        margin-bottom: 100px;
    }

    .tech_description_figure figure{
        margin-top: 75px;
        margin-left: 50px;
    }
    
    .tech_description_figure figure img{
        width: 100%;
        height: fit-content;
    }
    
    .tech_description_figure .circle{
        height: 400px;
        width: 400px;
    }
}
